<!-- Inicio de contenido web -->
<section>
  <div class="content">
    <div class="container">
      <img class="QuienesSomos" src="/assets/quienes somos.png" alt="" />
      <p>¡Un revolucionario medio de comunicación en línea!</p>
      <p>
        <strong>CONEXIONFM.COM</strong> ha logrado complementar la tecnología de
        marketing mundial a través del internet. Es la fórmula perfecta para
        proyectar potencialmente la publicidad de productos, bienes y servicios
        en cualquier parte del mundo.
      </p>
      <p>
        Más que radio por internet, <strong>CONEXIONFM.COM</strong> brinda
        alegría, cultura, entretenimiento, espectáculos, deportes y las noticias
        del momento transmitidas por nuestros locutores las 24 horas del día,
        los 365 días del año, junto con la estratégica colocación de spot's
        publicitarios que indudablemente impactarán a los radioescuchas.
      </p>
      <p>
        <strong>CONEXIONFM</strong>, Fuerza Mexicana, puede ser escuchada a
        través de
        <a href="https://www.conexionfm.com">www.conexionfm.com</a> con una
        tecnología de distribución inteligente de imágenes de banner y audio.
        También ofrecemos comunicación directa en vivo con nuestros locutores
        vía telefónica en Tijuana al <strong>(664) 379 2894</strong>, y a través
        de nuestras redes sociales, uniéndose a una sorprendente comunidad de
        más de 5.350 millones de navegantes en el mundo.
      </p>
      <img class="QuienesSomos" src="/assets/name.png" alt="" />
      <ul>
        <li><strong>Inicio de Operaciones:</strong> 01 de junio de 2008</li>
        <li><strong>Slogan:</strong> "Fuerza Mexicana"</li>
        <li><strong>Formato:</strong> Música Pop, Noticias, Deportes y Más…</li>
        <li><strong>Mercado Demográfico:</strong> Para Todas Las Edades</li>
        <li><strong>Área de Cobertura:</strong> Mundial</li>
      </ul>
      <h2>Audiencia</h2>
      <p>
        La audiencia de <strong>CONEXIONFM</strong> está compuesta por personas
        de todas las edades. Nuestros radioescuchas están al pendiente de las
        noticias, deportes y programas de orientación y comentarios relacionados
        con la salud y la familia. Escuchan la radio por un promedio de 3.3
        horas.
      </p>
      <p>
        Las ventajas de nuestra audiencia son: personas de negocio, de nivel
        ejecutivo, escolar, amas de casa y fanáticos del deporte. Nuestro perfil
        es tan definido que cualquier hora del día, tu marca tiene el mismo
        efecto. La audiencia mensual es de hasta 135,000 radioescuchas, de los
        cuales el 62% es de Baja California, 16% en el resto del país, 15% de
        USA y 7% del resto del mundo.
      </p>
      <h2>Mercado</h2>
      <p>
        Tijuana es reconocida mundialmente como la ciudad más visitada del
        mundo. Económicamente, su población es una de las más importantes del
        país, con una población actual de 1,922,523 habitantes, lo que la
        convierte en la cuarta audiencia del país.
      </p>
    </div>
  </div>
</section>
