
/* You can add global styles to this file, and also import other style files */
:root {
  /* color-scheme: light dark; */
  --color-white: #ffffff;
  --color-gray-dark: #333;
  --color-gray: #c6c6c6;
  --color-dark: #212121;
  --color-orange: #ff6633;
  --color-black: #000000;
}

.back-to-top {
  position: fixed;
  bottom: 160px;
  right: 20px;
  z-index: 1001;
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.back-to-top:hover {
  background-color: var(--color-orange);
  transform: translateY(-2px);
}

.back-to-top mat-icon {
  font-size: 24px;
}
/* Sub menu */
.dropdown {
  position: relative;
}

.dropdown > a {
  align-items: center;
  gap: 4px;
  cursor: pointer;

}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--color-black);
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  z-index: 1000;
  border-radius: 4px;

}

.submenu.show {
  display: block;
}

.submenu li a {
  color: var(--color-white);
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
}

.submenu li a:hover {
  background-color: var(--color-black);
  color: var(--color-orange);
}
/* Sub menu movile */

.submen {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  z-index: 1000;
  border-radius: 4px;

}

.submen.show {
  display: block;
}

.submen li a {
  color: var(--color-white);
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
}

.submen li a:hover {
  background-color: var(--color-black);
  color: var(--color-orange);
}

