<!-- Pagina principal para mostrar lo de home -->
<header id="hide-header" [ngClass]="{ 'hide-header': isScrolled }">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/"
        ><img src="assets/webp/Logo-Negro-450-X-80.webp" alt="Logo"
      /></a>
    </div>
  </div>
</header>

<!-- Toolbar de pagina web -->
<mat-toolbar id="header" [ngClass]="{ 'hide-header': isScrolled }">
  <button mat-icon-button (click)="openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="nav-menu">
    <ul id="menu">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Inicio</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">Quiénes somos</a>
      </li>
      <li>
        <a routerLink="/shedule" routerLinkActive="active">Programación</a>
      </li>
      <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
      <li class="dropdown">
        <a (click)="showNewsSubmenu = !showNewsSubmenu">
          Noticias <!--<mat-icon>{{ showNewsSubmenu ? 'expand_less' : 'expand_more' }}</mat-icon>-->
        </a>
        <ul class="submenu" [class.show]="showNewsSubmenu" >
          <li><a routerLink="/news" (click)="showNewsSubmenu = false" routerLinkActive="active">Últimas Noticias</a></li>
          <li><a routerLink="/baja-california" (click)="showNewsSubmenu = false" routerLinkActive="active">Baja California</a></li>
          <li><a routerLink="/deportes" (click)="showNewsSubmenu = false" routerLinkActive="active">Deportes</a></li>
        </ul>
      </li>
    </ul>
  </div>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav id="sidenav" [opened]="sidenavOpen" (close)="closeSidenav()">
  <div class="logo-side">
    <a routerLink="/" (click)="closeSidenav()">
      <img src="assets/webp/Cabeza 512 X 512.webp" alt="Logo" />
    </a>
  </div>
  <button mat-icon-button (click)="closeSidenav()" class="close" name="Cerrar">
    <mat-icon>close</mat-icon>
  </button>
  <mat-sidenav-container class="">
    <ul class="nav">
      <li><a routerLink="/" (click)="closeSidenav()">Inicio</a></li>
      <li><a routerLink="/about" (click)="closeSidenav()">Quiénes somos</a></li>
      <li><a routerLink="/contact" (click)="closeSidenav()">Contacto</a></li>
      <li>
        <a routerLink="/shedule" (click)="closeSidenav()">Programación</a>
      </li>
      <li>
        <a (click)="toggleNewsSubmenu()">Noticias</a>
        <ul [class.show]="showMobileNewsSubmenu" class="submen">
          <li><a routerLink="/news" (click)="closeSidenav()">Últimas Noticias</a></li>
          <li><a routerLink="/baja-california" (click)="closeSidenav()">Baja California</a></li>
          <li><a routerLink="/deportes" (click)="closeSidenav()">Deportes</a></li>
        </ul>
      </li>
    </ul>
  </mat-sidenav-container>
</mat-sidenav>
<!-- Inicio de pagina web -->
<main>
  <router-outlet></router-outlet>

</main>
<!-- Back to Top Button -->
<button
  *ngIf="isScrolled"
  (click)="scrollToTop()"
  class="back-to-top"
  aria-label="Back to top"
>
  <mat-icon>arrow_upward</mat-icon>
</button>

<!-- Footer de pagina web -->
<footer id="footer">
  <div class="footer-div">
    <div class="icon-f">
      <div class="logo-footer" align="center">
        <a routerLink="/"
          ><img src="assets/webp/Cabeza 512 X 512.webp" alt="Logo"
        /></a>
      </div>
    </div>
    <div class="redes">
      <p class="txt-redes">¡Síguenos!</p>
      <br />
      <!-- facebookicon -->
      <a
        href="https://www.facebook.com/ConexionfmRadioOficial"
        target="_blank"
        class="icons"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-facebook"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
          />
        </svg>
      </a>
      <!-- twittericon -->
      <a href="https://x.com/?lang=es" target="_blank" class="icons">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-x"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
          <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
        </svg>
      </a>
      <!-- youtubeicon -->
      <a href="https://www.youtube.com/" target="_blank" class="icons">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-youtube"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
          />
          <path d="M10 9l5 3l-5 3z" />
        </svg>
      </a>
      <!-- spoty icon -->
      <a
        href="https://open.spotify.com/show/67IFnTMCqxTlsTuwdgdXpX?si=5df4d880fe064464"
        target="_blank"
        class="icons"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-spotify"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M8 11.973c2.5 -1.473 5.5 -.973 7.5 .527" />
          <path d="M9 15c1.5 -1 4 -1 5 .5" />
          <path d="M7 9c2 -1 6 -2 10 .5" />
        </svg>
      </a>
    </div>
    <div class="direccion">
      <h2>Ubicación</h2>
      <ul>
        <li>Blvd. Gustavo Díaz Ordaz No. 12649-11C Plaza Patria</li>
        <li>Fracc. El Paraíso Tijuana B.C</li>
        <li>Teléfono 664-379-2895</li>
      </ul>
    </div>
  </div>
</footer>
<!--Reproductor de Música-->
<iframe
  class="reproductor-fijo"
  src="https://server1.maxiradiofm.com/public/conexionfm/embed?theme=dark&autoplay=true"
  frameborder="0"
  allow="autoplay"
>
</iframe>
