<header id="hide-header" [ngClass]="{ 'hide-header': isScrolled }">
  <div class="logo" align="center">
    <a routerLink="/"
      ><img src="assets/Logo-Negro-450-X-80.png" alt="Logo"
    /></a>
    <!-- Player -->
    <ul class="player">
      <li>
        <i
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="44"
            height="44"
            viewBox="0 0 24 24"
          >
            <path
              d="m20.25 5.025-7.898-2.962-.703 1.873L14.484 5H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.018-.767-1.85-1.75-1.975zM4 19v-7h16v-2H4V7h16l.001 12H4z"
            ></path>
            <circle cx="16.5" cy="15.5" r="2.5"></circle>
            <path d="M6 15h4.999v2H6z"></path>
          </svg>
        </i>
      </li>
    </ul>
    <div
      class="offcanvas offcanvas-bottom offcanvas-dark"
      tabindex="-1"
      id="offcanvasBottom"
      aria-labelledby="offcanvasBottomLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">
          ConexionFM dale play
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <!-- contenido de player -->
      <div class="offcanvas-body small">
        <div id="audio-player">
          <div id="cover-art"></div>
          <div id="audio-controls">
            <button id="play-button">
              <i id="play-icon" class="fa fa-play"></i>
            </button>
            <div id="volume-wrapper">
              <input
                type="range"
                id="volume-control"
                min="0"
                max="1"
                step="0.1"
                value="1"
              />
              <button id="volume-icon"><i class="fas fa-volume-up"></i></button>
            </div>
          </div>
          <audio
            id="audio-element"
            src="https://server1.maxiradiofm.com:8010/radio.mp3"
            autoplay
          ></audio>
        </div>
      </div>
    </div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </div>
</header>
<!-- Toolbar de pagina web -->
<mat-toolbar id="header" [ngClass]="{ 'hide-header': isScrolled }">
  <button mat-icon-button (click)="openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="nav-menu">
    <ul id="menu">
      <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
      <li>
        <a routerLink="/about" routerLinkActive="active">Quiénes somos</a>
      </li>
      <li>
        <a routerLink="/shedule" routerLinkActive="active">Programación</a>
      </li>
      <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
      <li><a routerLink="/news" routerLinkActive="active">Noticias</a></li>
    </ul>
  </div>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav id="sidenav" [opened]="sidenavOpen" (close)="closeSidenav()">
  <div class="logo-side">
    <a><img src="assets/Cabeza 512 X 512.png" alt="Logo" /></a>
  </div>
  <button mat-icon-button (click)="closeSidenav()" class="close" name="Cerrar">
    <mat-icon>close</mat-icon>
  </button>
  <mat-sidenav-container class="container-1">
    <ul class="nav">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/about">Quiénes somos</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
      <li><a routerLink="/shedule">Programación</a></li>
      <li><a routerLink="/news">Noticias</a></li>
    </ul>
  </mat-sidenav-container>
</mat-sidenav>

<!-- Inicio de pagina web -->

<section>
  <!-- Carrousel de notas-->
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    @for (post of posts; track post.id) {
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/details/{{ post.id }}/{{ post.slug }}"
          ><img [src]="post.featured_image" alt="Imagen del post"
        /></a>
        <div class="carousel-caption d-none d-md-block">
          <a routerLink="/details/{{ post.id }}/{{ post.slug }}"
            ><h1>{{ post.title.rendered }}</h1></a
          >
        </div>
      </div>

      <!-- Nota 2 -->
      @for( Deporte of deportespost; track Deporte.id){
      <div class="carousel-item">
        <a routerLink="/details/{{ Deporte.id }}/{{ Deporte.slug }}"
          ><img [src]="Deporte.featured_image" alt="Imagen del post"
        /></a>
        <div class="carousel-caption d-none d-md-block">
          <a routerLink="/details/{{ Deporte.id }}/{{ Deporte.slug }}"
            ><h1>{{ Deporte.title.rendered }}</h1></a
          >
        </div>
      </div>
      }
      <!-- Nota 3 -->
      @for (post of posts; track post.id) {
      <div class="carousel-item">
        <a routerLink="/details/{{ post.id }}/{{ post.slug }}"
          ><img [src]="post.featured_image" alt="Imagen del post"
        /></a>
        <div class="carousel-caption d-none d-md-block">
          <a routerLink="/details/{{ post.id }}/{{ post.slug }}"
            ><h1>{{ post.title.rendered }}</h1></a
          >
        </div>
      </div>
      }
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    }
  </div>
  <div class="banner-destacado" align="center">
    <a href="URL" target="_blank">
      <img src="assets/Banner disponible 350 X 510.jpg" alt="publicidad" />
    </a>
  </div>
</section>
<!-- Mat card posts -->
<div class="container">
  <div class="row">
    <div class="title-cat">
      <a
        ><h1 class="categoria">{{ bc.name }}</h1></a
      >
    </div>
  </div>
</div>
<!-- post -->
<div class="degrad">
  <section class="content">
    @for(destaca of destacado; track destaca.id){
    <div class="grid">
      <div class="post-card">
        <mat-card>
          <a routerLink="/details/{{ destaca.id }}/{{ destaca.slug }}"
            ><img [src]="destaca.featured_image" alt="Imagen del post"
          /></a>
          <mat-card-title>
            <a routerLink="/details/{{ destaca.id }}/{{ destaca.slug }}"
              ><h2>{{ destaca.title.rendered }}</h2></a
            >
          </mat-card-title>
        </mat-card>
      </div>
    </div>
    }
  </section>
</div>
<!-- deportes -->
<div class="container">
  <div class="row">
    <div class="title-cat">
      <a
        ><h1 class="categoria">{{ deportes.name }}</h1></a
      >
    </div>
  </div>
</div>
<section class="content">
  @for(Deporte of deportespost; track Deporte.id){
  <div class="grid">
    <div class="post-card">
      <mat-card>
        <a routerLink="/details/{{ Deporte.id }}/{{ Deporte.slug }}"
          ><img [src]="Deporte.featured_image" alt="Imagen del post"
        /></a>
        <mat-card-title>
          <a routerLink="/details/{{ Deporte.id }}/{{ Deporte.slug }}"
            ><h2>{{ Deporte.title.rendered }}</h2></a
          >
        </mat-card-title>
      </mat-card>
    </div>
  </div>
  }
</section>

<!-- Footer de pagina web -->
<footer id="footer">
  <div class="footer-div">
    <div class="icon-f">
      <div class="logo-footer" align="center">
        <a href=""><img src="assets/Cabeza 512 X 512.png" alt="Logo" /></a>
      </div>
    </div>
    <div class="redes">
      <p class="txt-redes">¡Siguenos!</p>
      <br />
      <!-- facebookicon -->
      <a href="" class="icons">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-facebook"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
          />
        </svg>
      </a>
      <!-- twittericon -->
      <a href="" class="icons">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-x"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
          <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
        </svg>
      </a>
      <!-- youtubeicon -->
      <a href="" class="icons">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-youtube"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
          />
          <path d="M10 9l5 3l-5 3z" />
        </svg>
      </a>
      <!-- spoty icon -->
      <a href="" class="icons">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-spotify"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M8 11.973c2.5 -1.473 5.5 -.973 7.5 .527" />
          <path d="M9 15c1.5 -1 4 -1 5 .5" />
          <path d="M7 9c2 -1 6 -2 10 .5" />
        </svg>
      </a>
    </div>
    <div class="direccion">
      <h2>Ubicación</h2>
      <ul>
        <li>Blvd. Gustavo Díaz Ordaz No. 12649-11C Plaza Patria</li>
        <li>Fracc. El Paraíso Tijuana B.C</li>
        <li>Teléfono 664-379-2895</li>
      </ul>
    </div>
  </div>
</footer>
