:root {
  /* color-scheme: light dark; */
  --color-white: #ffffff;
  --color-gray-dark: #333;
  --color-gray: #e4e2e2;
  --color-dark: #212121;
  --color-orange: #e69c11;
  --color-black: #000000;
}
@media (max-width: 768px) {
  .grid {
    display: block;
    width: 100% !important;
    margin: 0 auto;
  }
  #destacado {
    width: 100% !important;
    display: block;
  }

  .card-mini {
    width: 100% !important;
    display: block;
  }
  .clas-banner {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  .post-card {
    display: block;
    width: 100% !important;
    margin: 0 auto;
  }
  mat-card {
    display: block;
    width: 100% !important;
    margin: 0 auto;
  }
}
/*
Estilos generales de pagina
*/
/* Tamaño de titulos de cards */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.categoria {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
  font-size: 2em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.title-cat {
  padding: 5px 0;
  margin: 0;
  margin-left: 15px;
  top: 0;
  bottom: 0;
}
.title-cat a {
  text-decoration: underline;
}
#destacado {
  width: 680px;
  height: 850px;
  margin: 0;
  border-radius: 0px;
}
#destacado img {
  height: 700px;
}
/* clase de grid de noticias */
.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: auto;
  padding-right: 5px;
}
/* clase de imagenes de banner grid */
.clas-banner {
  top: 0;
  padding: 0;
  padding-left: 5px;
}
.img-banner {
  border: solid 1px var(--color-black);
  margin-bottom: 20px;
  width: 380px;
  height: 415px;
}

.post-card {
  padding: 0;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  transition: transform 0.5s, opacity 0.5s;
}
.post-card:hover {
  transform: scale(1.03);
}
.card-mini {
  border-radius: 0px;
  top: 0;
  margin: auto;
  width: 100%;
  height: 420px;
}
.card-mini-t {
  font-family: Arial, Helvetica, sans-serif;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.degrad {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  height: auto;
  background: radial-gradient(circle, #ffcc00, #ff6600);
}
/* estilos de cards para noticias */
mat-card {
  width: 330px; /* Ancho fijo para la tarjeta */
  height: 450px; /* Altura fija para la tarjeta */
  border-radius: 0px;
  background-color: var(--color-white);
  border-width: 0;
  border-style: solid;
  border-color: #888;
  box-shadow: 0px 0px 5px var(--color-gray-dark);
  /* margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px; */
  overflow: hidden;
  display: inline-block;
}

mat-card img {
  width: 100%; /* Ancho de imagen al 100% */
  height: 300px; /* Altura fija para la imagen */
  object-fit: cover;
  transition: transform 0.5s, opacity 0.5s;
}
/* mat-card img:hover {
  box-shadow: 10px 10px 15px var(--color-gray-dark);
  overflow: hidden;
  transform: scale(1.1);
  cursor: pointer;
} */
/* Estilos personalizados para mat-card-title */
mat-card-title {
  text-transform: uppercase;
  font-variant: small-caps;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
/* Elimina la línea de enlace y el efecto de hover en naranja */
mat-card-title a {
  text-decoration: none;
  color: inherit;
}
mat-card-title a:hover {
  color: var(--color-orange);
  transition: width 3s;
  text-decoration: underline;
}
.carousel-inner {
  max-width: 1000px;
  width: 100%;
  height: 450px;
  padding: 0;
  position: relative;
  text-align: center;
  overflow: hidden; /* Para ocultar contenido que pueda desbordar */
}
.carousel-inner a {
  text-decoration: none;
  color: inherit;
  color: var(--color-black);
}
.carousel-inner a:hover {
  color: var(--color-orange);
  transition: color 0.3s; /* Ajuste de la duración de la transición */
  text-decoration: underline;
}
.carousel-inner img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
/* Estilos de texto */
.carousel-inner h1 {
  text-transform: uppercase;
  font-variant: small-caps;
  color: inherit;
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  padding: 10px;
}
.carousel-caption {
  background-color: #ffffff8c;
  width: 100%;
  margin: 0;
  left: 0px;
  bottom: 250px;
  display: block;
}
