<!-- Inicio de pagina web -->
<section>
  <!-- Carrousel de notas-->
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    @for (post of posts; track post.id) {
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/details/{{ post.id }}/{{ post.slug }}"
          ><img [src]="post.featured_image" alt="Imagen del post"
        /></a>
        <div class="carousel-caption d-none d-md-block">
          <a routerLink="/details/{{ post.id }}/{{ post.slug }}"
            ><h1>{{ post.title.rendered }}</h1></a
          >
        </div>
      </div>

      <!-- Nota 2 -->
      @for( Deporte of deportespost; track Deporte.id){
      <div class="carousel-item">
        <a routerLink="/details/{{ Deporte.id }}/{{ Deporte.slug }}"
          ><img [src]="Deporte.featured_image" alt="Imagen del post"
        /></a>
        <div class="carousel-caption d-none d-md-block">
          <a routerLink="/details/{{ Deporte.id }}/{{ Deporte.slug }}"
            ><h1>{{ Deporte.title.rendered }}</h1></a
          >
        </div>
      </div>
      }
      <!-- Nota 3 -->
      @for (post of posts; track post.id) {
      <div class="carousel-item">
        <a routerLink="/details/{{ post.id }}/{{ post.slug }}"
          ><img [src]="post.featured_image" alt="Imagen del post"
        /></a>
        <div class="carousel-caption d-none d-md-block">
          <a routerLink="/details/{{ post.id }}/{{ post.slug }}"
            ><h1>{{ post.title.rendered }}</h1></a
          >
        </div>
      </div>
      }
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    }
  </div>
  <div class="banner-destacado" align="center">
    <a href="URL" target="_blank">
      <img src="assets/Banner disponible 350 X 510.jpg" alt="publicidad" />
    </a>
  </div>
</section>
<!-- Mat card posts -->
<div class="container">
  <div class="row">
    <div class="title-cat">
      <a
        ><h1 class="categoria">{{ bc.name }}</h1></a
      >
    </div>
  </div>
</div>
<!-- post -->
<div class="degrad">
  <section class="content">
    @for(destaca of destacado; track destaca.id){
    <div class="grid">
      <div class="post-card">
        <mat-card>
          <a routerLink="/details/{{ destaca.id }}/{{ destaca.slug }}"
            ><img [src]="destaca.featured_image" alt="Imagen del post"
          /></a>
          <mat-card-title>
            <a routerLink="/details/{{ destaca.id }}/{{ destaca.slug }}"
              ><h2>{{ destaca.title.rendered }}</h2></a
            >
          </mat-card-title>
        </mat-card>
      </div>
    </div>
    }
  </section>
</div>
<!-- deportes -->
<div class="container">
  <div class="row">
    <div class="title-cat">
      <a
        ><h1 class="categoria">{{ deportes.name }}</h1></a
      >
    </div>
  </div>
</div>
<section class="content">
  @for(Deporte of deportespost; track Deporte.id){
  <div class="grid">
    <div class="post-card">
      <mat-card>
        <a routerLink="/details/{{ Deporte.id }}/{{ Deporte.slug }}"
          ><img [src]="Deporte.featured_image" alt="Imagen del post"
        /></a>
        <mat-card-title>
          <a routerLink="/details/{{ Deporte.id }}/{{ Deporte.slug }}"
            ><h2>{{ Deporte.title.rendered }}</h2></a
          >
        </mat-card-title>
      </mat-card>
    </div>
  </div>
  }
</section>
