<!-- Contenido -->
<div class="container">
  <section>
    <div class="row">
      <div class="col-md-8">
        <article class="articulo">
          @if(post ){
          <!-- Cabeza de la noticia -->
          <h1>{{ post.title.rendered }}</h1>
          <!-- Extracto de la noticia -->
          <h3 [innerHTML]="post.excerpt.rendered"></h3>
          <!-- Conetenido de la noticia -->
          <img [src]="post.featured_image" alt="Imagen del post" />
          <div class="fecha-user">
            <h4>{{ formatDate(post.date) }}</h4>
          </div>
          <div [innerHTML]="post.content.rendered"></div>
          }
        </article>
      </div>
      <!-- Banner -->
      <div class="banner-lateral" align="center">
        <a href="URL" target="_blank">
          <img src="assets/Banner disponible 350 X 510.jpg" alt="publicidad" />
        </a>
      </div>
    </div>
  </section>
</div>
